	*{
				margin: 0px;
				padding: 0px;
			}
			.box{
				width: 100%;
				height: auto;
				margin: auto;
			}
			.box_logo{
				width: 96px;
				height: 120px;
				margin: auto;
			}
			.box_mian{
				width: 100%;
				height: auto;
				margin: auto;
				margin-top: 10px;
			}
			.box_input>input,.box_input_1>input,.box_input_2>input,.box_input_3>input,.box_input_4>input,.box_input_5>input,.box_input_6>input,.box_input_7>input{
				width: 90%;
				height: 40px;
				margin: auto 15px;
				border: none;
				outline: none;
				border-bottom: 1px solid gainsboro;
				padding-left: 30px;
				box-sizing: border-box;
			}
			.box_input>input:nth-of-type(1){
				background: url(../img/postition.png) no-repeat left;
				background-position-x: 10px;
			}
			.box_input>.pos_img{
				float: right;
				margin-right: 30px;
				margin-top: -25px;
			}
			.box_input_2>input{
				background: url(../img/user.png) no-repeat left;
				background-position-x: 10px;
			}
			.box_input_3>input{
				background: url(../img/phone.png) no-repeat left;
				background-position-x: 10px;
			}
			.box_input_4>input{
				background: url(../img/time.png) no-repeat left;
				background-position-x: 10px;
			}
			.yuan{
				display: inline;
				float: right;
				margin-top: -30px;
				margin-right: 25px;
				color: #00C256;
			}
			.box_input_5>input{
				background: url(../img/F_m.png) no-repeat left;
				background-position-x: 10px;
			}
			.box_input_4>.time_img{
				float: right;
				margin-right: 30px;
				margin-top: -25px;
			}
			.box_input_6>input{
				background: url(../img/price.png) no-repeat left;
				background-position-x: 10px;
			}
			.box_input_7>input{
				background: url(../img/phone.png) no-repeat left;
				background-position-x: 10px;
			}
			.share{
				margin-left: 15px;
				margin-top: 10px;
				color: #FF5053;
				font-size: 16px;
				display: inline-block;
			}
			.Zd_user{
				margin-top: 10px;
				width: 100px;
				height: 30px;
				float: right;
				background: #00C256;
				color: white;
				line-height: 30px;
				text-align: center;
				border-radius: 5px;
				margin-right: 20px;
			}
			.btn{
				width: 100%;
				height: 46px;
				background: #00C256;
				color: white;
				bottom: 0px;
				position: absolute;
				border: none;
			}