<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianmo.qmyjback.bean.mapper.RetreatOrderMapper" >
  <resultMap id="BaseResultMap" type="com.qianmo.qmyjback.bean.dto.RetreatOrder" >
    <id column="retreatId" property="retreatid" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="CHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="cma" property="cma" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    retreatId, order_no, open_id, cma, reason, create_time, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from retreat_order
    where retreatId = #{retreatid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from retreat_order
    where retreatId = #{retreatid,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.qianmo.qmyjback.bean.dto.RetreatOrder" >
    insert into retreat_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="retreatid != null" >
        retreatId,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="cma != null" >
        cma,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="retreatid != null" >
        #{retreatid,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=CHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="cma != null" >
        #{cma,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianmo.qmyjback.bean.dto.RetreatOrder" >
    update retreat_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=CHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="cma != null" >
        cma = #{cma,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where retreatId = #{retreatid,jdbcType=INTEGER}
  </update>

</mapper>