<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianmo.qmyjback.bean.mapper.TestMapper" >
  <resultMap id="BaseResultMap" type="com.qianmo.qmyjback.bean.dto.Test" >
    <id column="test" property="test" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from test
    where test = #{test,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.qianmo.qmyjback.bean.dto.Test" >
    insert into test (test)
    values (#{test,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianmo.qmyjback.bean.dto.Test" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="test != null" >
        test,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="test != null" >
        #{test,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>