<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联系我们</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<script src="../js/mui.min.js"></script>
	
	</head>

	<body style="background:#FFFFFF;">
		<div class="contact_box">
				<img id="img_my" src="../img/conect.png" />
			</div>
			<p id="p" class="mui-text-center" style="color: #2AC845;padding-top: 30px;">400-1025-540</p>
			<p class="mui-text-center" style="font-size: 1.0rem;font-weight: bold;margin-top: 15px;">欢迎致电&nbsp;&nbsp;&nbsp;&nbsp;服务时间：9:00~21:00</p>
	</body>

</html>