<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>甲醛的危害</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>

	<body>
		<div class="mui-card-content">
		<img class="banner" src="../img/1490262204(1).png" />
		<div style="padding: 10px;">
			<h3 style="color: #555555; font-weight: normal;">甲醛是什么</h3>
			<span>
					甲醛是一种无色、有强烈刺激性气味的气体。易溶于水、
					醇和醚。甲醛在常温下是气态，通常以水溶液形式出现。
					35～40%的甲醛水溶液叫做福尔马林。甲醛分子中有醛
					基生缩聚反应，可以得到酚醛树脂（电木）。甲醛的主要
					危害表现为对皮肤粘膜的刺激作用。甲醛在室内达到一定
					浓度时，人就有不适感，大于0.08m3的甲醛浓度可引起
					眼红、眼痒、咽喉不适或疼痛、声音嘶哑、喷嚏、胸闷、
					气喘、皮炎等，可参考“木童除醛三步法”进行治理。
			</span>
		</div>
		<div style="padding: 10px;">
			<h3 style="color: #555555; font-weight: normal;">对人体的危害</h3>
			<p>1.刺激作用：</p>
			<p>
					你再青木易家如何赚钱，从200元开始就赚了150我是如
					何独创门路去赚钱的！ 我不敢说我这是在教大家赚钱，但
					是我的赚钱方法都值的大家参考。 如今的大学生，其实都
					是一些脑袋上一根经的，而..
			</p>
			<img class="banner" src="../img/dan.png"/>
		</div>
		<div style="padding: 10px;">
			<p>2.致敏作用：</p>
			<p>
					你再青木易家如何赚钱，从200元开始就赚了150我是如
					何独创门路去赚钱的！ 我不敢说我这是在教大家赚钱，但
					是我的赚钱方法都值的大家参考。 如今的大学生，其实都
					是一些脑袋上一根经的，而..
			</p>
			<img class="banner" src="../img/dan.png"/>
		</div>
		<div style="padding: 10px;">
			<p>3.致突变作用：</p>
			<p>
					你再青木易家如何赚钱，从200元开始就赚了150我是如
					何独创门路去赚钱的！ 我不敢说我这是在教大家赚钱，但
					是我的赚钱方法都值的大家参考。 如今的大学生，其实都
					是一些脑袋上一根经的，而..
			</p>
			<img class="banner" src="../img/dan.png"/>
		</div>
	</div>
	</body>

</html>