<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<style>
			*{
				margin: 0PX;
				padding: 0PX;
			}
		</style>
	</head>

	<body>
		<div class="fail_bg">
			<div class="fail_img">
				<img src="../img/fail.png" />
			</div>
			<p class="fail_content">订单支付失败</p>
			<div class="fail_btn">
				<div class="fail_up">取消</div>
				<div class="fail_again">从新支付</div>
			</div>
		</div>
	</body>

</html>