<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的评价</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript">
			mui.init()
		</script>
	</head>

	<body>
		<div class="Mpj_box">
			<div class="MPJ_one">
				<img src="../img/pj.png" />
				<div class="MPJ_Text">
					<div class="MJ_user">
						<p class="labi">蜡笔小新</p>
						<p class="MPJ_time">12分钟前</p>
					</div>
					<img class="MPJ_img" src="../img/74.png" />
					<span>(好评)</span>
					<p class="pj_text">
						公司的组织形式,以营利为目的的社团法人,在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。
					</p>
				</div>
			</div>
			<div class="MPJ_one">
				<img src="../img/pj.png" />
				<div class="MPJ_Text">
					<div class="MJ_user">
						<p class="labi">蜡笔小新</p>
						<p class="MPJ_time">12分钟前</p>
					</div>
					<img class="MPJ_img" src="../img/74.png" />
					<span>(好评)</span>
					<p class="pj_text">
						公司的组织形式,以营利为目的的社团法人,在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。
					</p>
				</div>
			</div>
		</div>
		<script>
			var optionss=localStorage.getItem("options");  
			console.log(JSON.parse(optionss));  
		</script>
		
		
	</body>

</html>