<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body>
		<div class="content" style="background:#FFFFFF; padding: 10px 15px;">
			<div class="My_box">
				<p class="mui-text-center" style="margin-top: 20px;">创始人简介:</p>
				<img id="img_my" src="../img/icon.jpg" />
			</div>
				<p style="margin-top: 40px;">男，1976年4月出生，山西省太原市人，DM都市信息品
				牌创始人，都市信息品牌商标持有人；都市信息作为信息
				类媒体在全国拥有较高的知名度。</p>
				<h5 class="mui-text-center" style="font-size: 1.2rem;">公司简介</h5>
				<p>公司的组织形式。以营利为目的的社团法人。在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。国营工、商、建筑、运输等部门中实行独立经
					济核算的经营管理组织和某些城市中按行业划分的专业管
					理机构，也通称公司。</p>
				<div class="box_banner">
					<img src="../img/1490262204(1).png" />
				</div>
				<p>公司的组织形式。以营利为目的的社团法人。在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。国营工、商、建筑、运输等部门中实行独立经
					济核算的经营管理组织和某些城市中按行业划分的专业管
					理机构，也通称公司。</p>
				<div class="box_banner">
					<img src="../img/1490262204(1).png" />
				</div>
				<p>
					公司的组织形式。以营利为目的的社团法人。在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。国营工、商、建筑、运输等部门中实行独立经
					济核算的经营管理组织和某些城市中按行业划分的专业管
					理机构，也通称公司。公司的组织形式。以营利为目的的
					社团法人。在资本主义社会获得高度发展。我国在建国后
					对私营公司进行了社会主义改造。国营工、商、建筑、运
					输等部门中实行独立经济核算的经营管理组织和某些城市
					中按行业划分的专业管理机构，也通称公司。
				</p>
		</div>
	</body>  
</html>