<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>授权</title>
	</head>
	<body>
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<script type="text/javascript" src="../mui/js/jquery-1.8.3.js" ></script>
		<script>
			$(function(){
						window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8f600f6da5379290&redirect_uri=http://www.qianmocn.com/qmyj/view/shareAB.html&response_type=code&scope=snsapi_userinfo&state=reefbfbfbffbfbbffbmsjdkelkdffnfnfnfgfgfhgxjgs";
			})
		</script>
	</body>
</html>
