<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>治理技术</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<style>
			*{
				margin: 0px;
				padding: 0px;
			}
		</style>
	</head>
	<body bgcolor="#F2F2F2">
		<a href="http://vjs.zencdn.net/v/oceans.mp4"><img src="../img/02.png" width="100%" height="auto" /></a>
		<p style="padding: 10px;box-sizing: border-box;color: #454551; font-size: 14px;">甲醛是一种无色、有强烈刺激性气味的气体。易溶于水、
					醇和醚。甲醛在常温下是气态，通常以水溶液形式出现。
					35～40%的甲醛水溶液叫做福尔马林。甲醛在室内达到一定
					浓度时，人就有不适感，大于0.08m3的甲醛浓度可引起
					眼红、眼痒、咽喉不适或疼痛、声音嘶哑、喷嚏、胸闷、
					气喘、皮炎等，可参考“木童除醛三步法”进行治理。</p>
	</body>
</html>
