<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../js/weixin-1.2.0.js" ></script>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<div class="mui-card-content">
		<img class="banner" src="../img/1490262204(1).png" />
		<div style="padding: 10px;">
			<h3 style="color: #555555; font-weight: normal;">招聘信息</h3>
			<span>
					公司的组织形式。以营利为目的的社团法人。在资本主义
					社会获得高度发展。我国在建国后对私营公司进行了社会
					主义改造。国营工、商、建筑、运输等部门中实行独立经
					济核算的经营管理组织和某些城市中按行业划分的专业管
					理机构，也通称公司。
			</span>
		</div>
		<div style="padding: 10px;">
			<h3 style="color: #555555; font-weight: normal;">如何赚钱</h3>
			<span>
					你再青木易家如何赚钱，从200元开始就赚了150我是如
					何独创门路去赚钱的！ 我不敢说我这是在教大家赚钱，但
					是我的赚钱方法都值的大家参考。 如今的大学生，其实都
					是一些脑袋上一根经的，而..
			</span>
		</div>
			<div class="erweima">
				<img src="../img/1490263544(1).png" />
				<p class="mui-text-center" style="margin-top: 20px; color: #333333; font-size: 0.9rem;margin-bottom: 50px;">扫一扫二维码APP</p>
			</div>
	</div>

	<body>
	</body>

</html>